.d2 {
	width: 100%;
	margin-top: 70px;
	margin-bottom: 50px;
}
.d2-cont {
	width: 55%;
	margin: auto;
	display: flex;
}
.d2-img {
	width: 55%;
}
.d2-img img {
	width: 90%;
	border-radius: 50%;
	border: 10px solid #ffffff;
	-webkit-box-shadow: 0px 3px 10px rgba(48, 68, 78, 0.2);
	box-shadow: 0px 3px 10px rgba(48, 68, 78, 0.2);
	max-width: 100%;
	vertical-align: middle;
}
.d2-text {
	width: 51%;
	text-align: right;
	margin-right: 6%;
}
.d2-text span {
	color: #13a2b7;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	display: block;
	margin-bottom: 6px;
}
.d2-text h1 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 20px;
}
.d2-text p {
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	color: #666666;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}
.d2-text ul {
	margin-bottom: 30px;
}
.d2-text ul li {
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	color: #666666;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
	list-style: none;
}
.d2-text ul li i {
	color: #13a2b7;
	font-size: 15px;
	margin-right: 6px;
}
.d2-text .d2-social i {
	display: inline-block;
	height: 50px;
	width: 50px;
	background: #f2f7f8;
	font-size: 18px;
	color: #111111;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	margin-right: 6px;
}
@media (max-width: 1337px) {
	.d2-cont {
		width: 80%;
	}
}
@media (max-width: 937px) {
	.d2-cont {
		display: block;
	}
	.d2-img {
		width: 55%;
		margin: auto;
	}
	.d2-text {
		width: 92%;
		margin: auto;
		text-align: center;
		margin-top: 30px;
	}
}
