@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Jost:wght@600;700;800&family=Mukta:wght@400;500;600;700;800&family=Mulish:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&family=REM:wght@300;500;800&family=Raleway:wght@300;500;600;700;800&display=swap");
* {
    font-family: "Mulish", sans-serif;
}
.o-service{
    width: 100%;
    background-image: url(/img/services-bg.jpg.webp);
    padding-top: 100px;
    padding-bottom: 55px;
}
.service-cont{
    width: 57%;
    margin: auto;
    
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}
.c-btn{
    margin-left: 65%;
}
.service-cont p{
    font-size: 15px;
    color: #888888;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #13a2b7;

}
.service-cont h2{
    font-weight: 700;
    margin-top: 8px;
    color: #ffffff;
    font-size: 36px;

}
.s-cont{
    width: 58%;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
}
.s-1{
    margin: 12px;
    background: #ffffff;
    padding: 25px 30px 25px 50px;
    margin-bottom: 30px;
    border-radius: 5px;

}
.c-btn button{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 30px 10px;
    text-transform: uppercase;
    color: #111111;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #13a2b7;
    border-radius: 5px;
    color:      #ffffff;
    background-color: transparent;


}
@media(max-width:700px){
    .s-cont{
        width: auto;
    }
}
@media(max-width:570px){
    .s-cont{
        
    width: 90%;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, auto));
    }
}

@media(max-width:950px){
    .c-btn {
        margin-left: 0;
    }
}
